---

---

<li class="link-card">
  <button>
    <h2>Click here to start uploading</h2>
  </button>
</li>
<style>
  .link-card {
    height: 300px;
    aspect-ratio: 1/1;
    margin: auto;
    list-style: none;
    display: flex;
    padding: 1px;
    background: #0004;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > button {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-width: 0;
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
  }
  h2 {
    margin: auto;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    text-align: center;
  }
  p {
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
