---
import Layout from "../layouts/Layout.astro";
import Upload from "../components/Upload.astro";
import Question from "../components/Question.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <Question body="Tell us about a challenging moment at work." />
      <Upload />
      <p class="instructions">
        Record a video of your response,<br />
        click on the card above to upload it.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: #0004;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    width: fit-content;
    margin: auto;
    margin-top: 8px;
  }
</style>
